@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the test blockchain!</h1>
    <p>Please use the instructions on how to login and use this application. Good luck!</p>
</div>

        

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}